*{
    margin: 0;
    padding: 0;

}

.main{
    width: 100%;
    background-image: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(Generator.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 50px;
	background-color: black;
}
.logo{
    color: white;
    cursor: pointer;
}

.logo:hover{
    color: rgb(243, 10, 243);
}
nav{
    flex: 1;
    text-align: right;
}
nav ul {
    display: inline-block;
    list-style: none;
}
nav ul li{
    display: inline-block;
    margin-right: 70px;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(240, 235, 235);
    font-family: sans-serif;
}
nav ul li button{
    font-size: 20px;
    color: rgb(252, 245, 245);
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-family: sans-serif;
}
nav ul li button:hover{
    color: rgb(1, 177, 231);
}
nav ul li a:hover{
    color: rgb(0, 183, 255);
}
a{
    text-decoration: none;
    color: rgb(236, 17, 90);
    font-size: 28px;
}
#login-form{
    display: none;
    position:relative;  
    left: 870px;
}

.form-box{
    width:380px;
	height:480px;
	position:relative;
	margin:2% auto;
	background:rgba(0,0,0,0.3);
	padding:10px;
    overflow:hidden;
    position:absolute;  
    left:600px;
    top:100px
}
.button-box{
	width:220px;
	margin:35px auto;
	position:relative;
	box-shadow: 0 0 20px 9px #ff62249a;
	border-radius: 30px;
}
.toggle-btn{
	padding:10px 30px;
	cursor:pointer;
	background:transparent;
	border:0;
	outline: none;
	position: relative;
}
#btn{
	top: 0;
	left:0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: #fafafa;
	border-radius: 30px;
	transition: .5s;
}
.input-group-login{

	top: 150px;
	position:absolute;
	width:280px;
	transition:.5s;
	color:rgb(7, 7, 7);
	
}
.input-group-register{
    top: 120px;
	position:absolute;
	width:280px;
	transition:.5s;
}
.input-field{
	width: 100%;
	padding:10px 0;
	margin:5px 0;
	border-left:0;
	border-top:0;
	border-right:0;
	border-bottom: 1px solid #fdfdfd;
	outline:none;
	background: transparent;
}
.submit-btn{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: #8d8d8d;
	border: 0;
	outline: none;
	border-radius: 30px;
}
.check-box{
	margin: 30px 10px 34px 0;
    color: white;
}
span{
	color:#ffffff;
	font-size:12px;
	bottom:68px;
	position:absolute;
}
#login{
	left:50px;
}

#login input{
	color:rgb(139, 139, 139);
	font-size:15;
}
#register{
	left:450px;
    color: #fafafa;
}
#register input{
	color:rgb(167, 165, 165);
	font-size: 15;
}
.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color:orangered;
    position: absolute;
    padding-block: initial;
    padding: 150px;
    padding-right:30px;
    padding-bottom: 50px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;in
   
}
.par{
    padding: 25px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
    color: #ffffff;

}
h2{
    padding-bottom: 10px;
}
